.darkCustom{
    // background-color: #00203F;
    background-color: #090909;

    .brand{
        font-size: 28px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

        .myDropdown{
            color: white;
            background-color: #090909;
        }
}



